<section class="form">
  <header>
    <h1><%= @project.name %></h1>
  </header>
  <section>
    <p>Map Type: <%= @project.pp_map_type %></p>
    <p>API Key: <%= @project.api_key %></p>
  </section>
</section>